<h1>Results for - <%= @search_term %>:</h1>
<% if @artists.nil? %>
<p> No results found </p>
<% else %>
  <h3>Showing results from artists:</h3>
  <table class="table">
    <% @artists.each do |artist| %>
      <td><%= link_to(image_tag(artist.image_url, size: "100x100"),url_for(artist)) %></td>
      <td><h4><%= link_to artist.name, url_for(artist) %><br></h4>
      Tagged with: <%=artist.tag_list%></td>
    </tr>
    <% end %>
  </table>
  <h3>Showing results tagged with <%=@search_term%>:</h3>
  <table class="table">
    <% @artisttags.each do |artist| %>
      <td><%= link_to(image_tag(artist.image_url, size: "100x100"),url_for(artist)) %></td>
      <td><h4><%= link_to artist.name, url_for(artist) %></h4></td>
    </tr>
    <% end %>
  </table>
<% end %>