<!-- this is the page users will be routed to when clicking on an artist name-->
<!DOCTYPE html>
<html>
<body>
<div>
    <h1>Page for <%= @artist.name %></h1>
    <div class="pull-left" style="padding:20px"><%= image_tag(@artist.image_url,size: "200x200") %></div>
    <div><h2>Description</h2>
    <p>Paragraph with info about the artist</p></div>
</div>
<div class="pull-right">
	<h3>Tags added to <%=@artist.name%>:</h3>
	<% tags = @artist.tags.pluck(:name).flatten %>
  <p>Popular tags added to this artist (click to add):</p>
  <% tags.each do |t| %>
    <!-- the following line passes the current artist id and the tag being clicked on's id to the tag controller to increment count -->
    <%= link_to( "+" + t, {:controller=> 'tags', :action => 'increaseTagCount', :ids => [@artist.id, Tag.find_by(name: t).id] }) + ', '%>
  <% end %>
  <div class="field">
    <%= form_for @tag do |f| %>
	   <%= f.hidden_field :artistId, :value => @artist.id %>
  	 <%= f.label :name, "Add a new tag:" %><br />
     <%= f.text_field :name %>
  	 <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</body>
</html>