<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <p>Hello, <%= @user.name %></p>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
      <h3>Quote Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="quote_form">
            <%= render 'shared/quote_form' %>
          </section>
        </aside>
      <% end %>
      </div>
	  <p> </p>
	  <p> </p>
      <iframe src="https://calendar.google.com/calendar/embed?title=Upcoming%20events&amp;showTabs=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=9siib7kvnmu8vdoh6eqnmk6nn4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FDenver" 
	  style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
	<p> </p>
	<div>
	<h3> Last viewed artists </h3>
	   <p><strong><a href = "artists/71"> Chronic Parallax </a></strong></p>
	   <p><strong><a href = "artists/75"> Assessment Puppy </a></strong></p>
	   <p><strong><a href = "artists/77"> Linkin Park </a></strong></p>
	   <p><strong><a href = "artists/69"> Astute Rodent </a></strong></p>
	</div>
	<p> </p>
	
	<div>
	<h3> Recommended for you </h3>
	<h5> Artists you may be interested in based on recently viewed artists</h5>
	   <p><strong><a href = "artists/72"> Sunlit Shroom </a></strong></p>
	   <p><strong><a href = "artists/74"> Bio Dab </a></strong></p>
	   <p><strong><a href = "artists/76"> Papa Roach </a></strong></p>
	</div>
	<p> </p>
	
<%= social_share_button_tag %>
  </div>
</div>


