<!DOCTYPE html>
<html>
	<head>
		<title> Paradox Circle - Spin into new local music </title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	 <% if logged_in? %>
    <div>
        Signed in as <strong><%= current_user.name %></strong>!
    </div>
    <h3>Listing Nearby Artists</h3>
      <div class="entry">
        <table class="table">
          <tr>
            <th> Name </th>
          </tr>
			<% @artists.each do |artist|%>
				  <tr>
					  <td> <%= link_to artist.name, url_for(artist) %> </td>
				  </tr>
    <% else %>
      <div class = "center jumbotron">
        <h1> Home </h1>
        <h2>Welcome to Paradox Circle</h2>
        <p>Click the logo to sign up now!</p>

         <%= link_to image_tag("extremeParadox.jpg", alt: "Paradox Circle logo"), root_path %>
      </div>
		<% end %>
    </table>
    <%= yield %>
    </div>
    <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?title=Concerts%20and%20Events&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9siib7kvnmu8vdoh6eqnmk6nn4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FDenver" 
    style="border-width:0" width="500" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
  <% end %> 
  </body>

</html>
