<!DOCTYPE html>
<html>
	<head>
		<title> Paradox Circle - Spin into new local music </title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "New user?", "root_path" %>
      <% end %>
    </div>
    <div>
			<% @artists.each do |artist|%>
				<div class="entry">
			<table border="1">
				<tr>
					<th> Name  </th>
					<th> Genre </th>
				</tr>
				<tr>
					<td> <%=artist.name %> </td><td> <%=artist.genre %></td>
				</tr>
			</table>
			<% end %>
    <%= yield %>
    </div>
  </body>
  
  <head>
     <title> <strong> Your upcoming events </strong></title>
  </head>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=blanc545%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FDenver" 
  style="border:solid 1px #777" width="500" height="300" frameborder="0" scrolling="no"></iframe>
</html>
