<!DOCTYPE html>
<html>
	<head>
		<title> Paradox Circle - Spin into new local music </title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <li><%= link_to "Log in", '#' %></li>
      <% end %>
    </div>
    <h3>Listing Nearby Artists</h3>
      <div class="entry">
        <table class="table">
          <tr>
            <th> Name </th>
          </tr>
			<% @artists.each do |artist|%>
				  <tr>
					 <td> <%=artist.name %> </td>
				  </tr>
			<% end %>
    </table>
    <%= yield %>
    </div>

  </body>
  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=blanc545%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FDenver" 
    style="border:solid 1px #777" width="500" height="300" frameborder="0" scrolling="no"></iframe>
  </div>
<%= social_share_button_tag %>
</html>
