<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rails Demo", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
  	<%= link_to(image_tag("google-sign-in.png"),"/auth/google_oauth2") %>
	<%= link_to(image_tag("fb-login.png"), "/auth/facebook") %>
      </ul>
    </nav>
  </div>
</header>
